/* rgba(253, 221, 43, 0.3) */
*,::after,::before{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(to left bottom, rgba(253, 221, 43, 0.1),rgba(0, 8, 51, 0.2)),url(../images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo-box{
    position: absolute;
    height: 12rem;
    width: 12rem;
    top:1rem;
    left: 1rem;
    &--logo{
        height: 100%;
        width: 100%;
    }
}
.container{
    position: relative;
    top:10rem;
    width: 100%;
    min-height:80vh;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    width: 100%;
    max-width: 70rem;
    background:rgba(0, 8, 51, 0.2);
    align-items: center;
    border-radius: 10rem;
    padding: .5rem 1rem;
    top: 10rem;
    backdrop-filter: blur(.4rem) saturation;
 input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: 0;
        padding: 2.4rem 2rem;
        font-size: 2rem;
        color: #fff;
    }
    ::placeholder{
        color: white;
    }
    button {
        border:0;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        background: #58629b;
        cursor: pointer;
    }
}
.display-box{
    position: relative;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #fff;

    &--hotel,&--location{
        list-style: none;
      
    }
    .locationLi{
        background: hsla(231, 28%, 48%, 0.5);
        padding: 1rem 2rem;
        margin: .5rem;
        border-radius: 5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .hotelLi{
        background: rgba(253, 221, 43, 0.5);
        padding: 1rem 2rem;
        margin: .5rem;
        border-radius: 5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    span{
        margin-left: 1rem;
    }
}


